<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head><meta charset="UTF-8" /></head>
	<body>
		<div layout:fragment="body">	
			<div class="container app-body">
				<table class="table" id="tblUsuariosID">
				  <thead>
				    <tr>
				      <th scope="col">Perfil</th>
				      <th scope="col">Username</th>
				      <th scope="col">Pendente</th>
				      <th scope="col">Dt. Cadastro</th>
				      <th scope="col">Dt. Alteração</th>
				      <th scope="col">Ativo</th>
				      <th scope="col">Alterar</th>
				    </tr>
				  </thead>
				  <tbody>
				   
				  </tbody>
				</table>
			</div>
		</div>
	</body>
</html>
<script th:src="@{/js/domain/usuario.js}"></script>
