<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>
		<meta charset="UTF-8"/>
		<link th:href="@{/css/components/cp-confirm-dialog.css}" rel="stylesheet"/>
		<link th:href="@{/css/components/cp-modal.css}" rel="stylesheet"/>
	</head>
	<body>
		<div layout:fragment="body">	
			<div class="app-body">
				<div class="container app-body">
					<ul class="nav justify-content-end">
					  <li class="nav-item">
						<a class="nav-link" href="#" id="btnAbrirModalID">
							<span class="feather-action-button" data-feather="plus-square"></span>
							Cadastrar
						</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#">
							<span data-feather="file"></span>
							Relatório
						</a>
					  </li>
					</ul>
					<!-- TABELA DE USUÁRIOS -->
					<table class="table app-table" id="tblUsuariosID">
					  <thead>
					    <tr>
					      <th scope="col">Perfil</th>
					      <th scope="col">Username</th>
					      <th scope="col">Pendente</th>
					      <th scope="col">Dt. Cadastro</th>
					      <th scope="col">Dt. Alteração</th>
					      <th scope="col">Ativo</th>
					      <th scope="col">Alterar</th>
					    </tr>
					  </thead>
					  <tbody>
					  </tbody>
					</table>
				</div>
				<!-- MODAL CADASTRO USUARIO -->
				<div id="modalCadUsuarioID" class="cp-modal">
					<div class="cp-modal-content">
						<div class="cp-modal-title">
							<span>Cadastrar Usuário</span><span class="cp-modal-close">x</span>
						</div>
						<div class="cp-modal-body">
							 <div id="msgCadUsuario"></div>
							  <div class="form-group">
							  	  <label for="perfilCadID">Perfil</label>
							      <select id="perfilCadID" class="form-control form-control-sm">
							        <option value="0">Selecione</option>
							      </select>
							 </div>
							  <div class="form-group">
							  	  <label for="usrnameCadID">Username</label>
							  	  <input type="text" class="form-control form-control-sm" id="usrnameCadID" maxlength="20" />
							 </div>
							 <hr class="my-3">
						 	 <div style="text-align:right;">
				    			 <button id="cadastraUsuarioID" type="submit" class="btn btn-primary btn-sm">Cadastrar</button>
						  		 <button id="cancelaUsuarioID" type="button" class="btn btn-secondary btn-sm">Cancelar</button>
						 	 </div>
						</div>
				   </div>
				</div>
				
				<!-- MODAL ATUALIZA USUARIO -->
				<div id="modalAtualizaUsuarioID" class="cp-modal">
					<div class="cp-modal-content">
						<div class="cp-modal-title">
							<span>Atualizar Usuário</span><span class="cp-modal-close">x</span>
						</div>
						<div class="cp-modal-body">
							 <div id="msgAtualizaUsuario"></div>
							  <div class="form-group">
							  	  <label for="perfilAtlzrID">Perfil</label>
							      <select id="perfilAtlzrID" class="form-control form-control-sm">
							        <option value="0">Selecione</option>
							      </select>
							 </div>
							 <hr class="my-3">
						 	 <div style="text-align:right;">
				    			 <button id="atualizaUsuarioID" type="submit" class="btn btn-primary btn-sm">Atualizar</button>
						  		 <button id="cancelaAtualizaUsuarioID" type="button" class="btn btn-secondary btn-sm">Cancelar</button>
						 	 </div>
						</div>
				   </div>
				</div>
				
				<!-- DIALOG ALTERAR STATUS DO USUARIO -->
				<div id="dialogStatusID" class="cp-confirm-dialog">
					<div class="cp-confirm-dialog-content">
						<div class="cp-confirm-dialog-title">
							<span>Ativar/Desativar Usuário</span><span class="cp-confirm-dialog-close">x</span>
						</div>
						<div class="cp-confirm-dialog-body">
						  	<label id="questionID"></label>
							<div style="padding:10px 0px 0px 0px;">
						  		<hr class="my-3">
							 	<div style="text-align:right;">
							  		<button id="confirmarAtivoID" type="submit" class="btn btn-primary btn-sm">Confirmar</button>
							  		<button id="closeAtivoID" type="button" class="btn btn-secondary btn-sm">Cancelar</button>
								</div>
							</div>
						</div>
				   </div>
				</div>
				
			</div>
		</div>
	</body>
</html>
<script th:src="@{/js/components/cp-confirm-dialog.js}"></script>
<script th:src="@{/js/components/cp-modal.js}"></script>
<script th:src="@{/js/domain/usuario.js}"></script>
