<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head><meta charset="UTF-8" /></head>
	<body>
		<div layout:fragment="body">	
			<div class="container app-body">
				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">Nome</th>
				      <th scope="col">Perfil</th>
				      <th scope="col">Celular</th>
				      <th scope="col">E-mail</th>
				      <th scope="col">Alterar</th>
				      <th scope="col">Ativa</th>
				      <th scope="col">Detalhes</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">1</th>
				      <td>Mark</td>
				      <td>Otto</td>
				      <td>@mdo</td>
				      <td>
                   		<a href="#">
                  			<span data-feather="edit"></span>
                   		</a>
                       </td>
                       <td class="edit-loteria">
                  		<a href="#">
                   			<span data-feather="check-square"></span>
                  		</a>
                       </td>
                       <td class="edit-loteria">
                  		<a class="detalhes-pessoa" href="#">
                  			<span data-feather="search"></span>
                  		</a>
                       </td>
				    </tr>
				    <tr>
				      <th scope="row">2</th>
				      <td>Jacob</td>
				      <td>Thornton</td>
				      <td>@fat</td>
				      <td>
                   		<a href="#">
                   			<span data-feather="edit"></span>
                   		</a>
                       </td>
                       <td class="edit-loteria">
                  		<a href="#">
                  			<span data-feather="check-square"></span>
                  		</a>
                       </td>
                       <td class="edit-loteria">
                  		<a href="#">
                  			<span data-feather="search"></span>
                  		</a>
                       </td>
				    </tr>
				    <tr>
				      <th scope="row">3</th>
				      <td>Larry</td>
				      <td>the Bird</td>
				      <td>@twitter</td>
				      <td>
                   		<a href="#">
                   			<span data-feather="edit"></span>
                   		</a>
                       </td>
                       <td class="edit-loteria">
                  		<a href="#">
                  			<span data-feather="check-square"></span>
                  		</a>
                       </td>
                       <td class="edit-loteria">
                  		<a href="#">
                  			<span data-feather="search"></span>
                  		</a>
                       </td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</body>
</html>
<script th:src="@{/js/domain/contrato.js}"></script>