<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head><meta charset="UTF-8" /></head>
	<body>
		<div layout:fragment="body">	
			<div class="container app-body">
				<div>
					<div id="messageID"></div>
					<ul class="nav justify-content-end">
					  <li class="nav-item">
						<a class="nav-link" href="#" id="btnAbrirModalID">
							<span class="feather-action-button" data-feather="plus-square"></span>
							Cadastrar
						</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#">
							<span data-feather="file"></span>
							Relatório
						</a>
					  </li>
					</ul>
				</div>
				<!-- TABELA DE PESSOAS -->
				<table class="table" id="tblPessoasID">
				  <thead>
				    <tr>
				      <th scope="col">Nome</th>
				      <th scope="col">Perfil</th>
				      <th scope="col">Dt. Nascimento</th>
				      <th scope="col">CPF</th>
				      <th scope="col">Tel Residencial</th>
				      <th scope="col">Tel Principal</th>
				      <th scope="col">Celular</th>
				      <th scope="col">E-mail</th>
<!-- 				      Daí, vc vê qual o melhor nome pro campo -->
				      <th scope="col">Cadastrado por</th>
				      <th scope="col">Ativo</th>
				      <th scope="col">Alterar</th>
				    </tr>
				  </thead>
				  <tbody>
				  </tbody>
				</table>
				
				<!-- MODAL CADASTRO DE PESSOA -->
				<div id="modalCadastroID" class="cp-modal">
					<div class="cp-modal-content">
						<div class="cp-modal-title">
							<span>Cadastro de Pessoa</span><span class="cp-modal-close">x</span>
						</div>
						<div id="msgCadPessoa"></div>
						<div class="cp-modal-body">
							
							<div class="form-row">
				    			<div class="form-group col-md-6">
								     <label for="nomeID">Nome</label>
								  	 <input type="text" class="form-control form-control-sm" id="nomeID" maxlength="100">
								</div>
								  <div class="form-group col-md-6">
								    <label for="xxx">Perfil</label>
								    <select class="form-control" style="padding: 4px 8px;" >
								      <option value="0">Selecione</option>
								      <option value="1">Administrador</option>
								    </select>
								  </div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
								     <label for="dtNascimID">Dt. Nascimento</label>
								  	 <input type="text" class="form-control form-control-sm" id="dtNascimID" maxlength="100">
								</div>
								<div class="form-group col-md-6">
								    <label for="cpfID">CPF</label>
								    <input type="text" class="form-control form-control-sm" id="cpfID" maxlength="8">
							 	</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
								     <label for="telResidID">Tel Resid</label>
								  	 <input type="text" class="form-control form-control-sm" id="telResidID" maxlength="100">
								</div>
								<div class="form-group col-md-6">
							   		<label for="telPrinID">Tel Prin</label>
							    	<input type="text" class="form-control form-control-sm" id="telPrinID" maxlength="8">
							 	</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
								    <label for="celularID">Celular</label>
								  	<input type="text" class="form-control form-control-sm" id="celularID" maxlength="100">
							 	</div>
							 	<div class="form-group col-md-6">
							    	<label for="emailID">E-mail</label>
							    	<input type="text" class="form-control form-control-sm" id="emailID" maxlength="8">
							 	</div>
							</div>
			    			<button id="cadastraPessoaID" type="submit" class="btn btn-primary btn-sm">Cadastrar</button>
					  		<button id="cancelaPessoaID" type="button" class="btn btn-secondary btn-sm">Cancelar</button>
						</div>
				   </div>
				</div>
			</div>
		</div>
	</body>
</html>
<script th:src="@{/js/domain/pessoa.js}"></script>