<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
	<div th:fragment="cabecalho">
		<div class="jumbotron header-panel">
		    <h1 class="display-4">Gestão de Contratos</h1>
		    <p class="lead"></p>
		    <hr class="my-4">
			<ul class="nav justify-content-end">
			  <div class="dropdown">
				  <li class="nav-item">
					<a class="nav-link active dropbtn" href="#">
						<span data-feather="settings"></span>
						Configurações
					</a>
					<div class="dropdown-content">
					    <a th:href="@{/usuario/menu}">Usuários</a>
					    <a th:href="@{/cidade/menu}">Cidades</a>
					    <a th:href="@{/pessoa/menu}">Pessoas</a>
					</div>
				  </li>
			  </div>
			  <li class="nav-item">
				<a class="nav-link active" href="#">
					<span data-feather="user"></span>
					Perfil
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="#">
					<span data-feather="power"></span>
					Sair
				</a>
			  </li>
			</ul>
		</div>
	</div>
</body>
</html>
		


