<!DOCTYPE html>
<html>
	<head><meta charset="UTF-8"></head>
	<body>
		<div th:fragment="nav-sidebar">
			<div class="menu navbar navbar-dark bg-dark">
				<ul class="nav">
				 <li class="nav-item">
					<a class="nav-link active" th:href="@{/home/menu}">
						<span data-feather="home"></span>
						Dashboard
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" th:href="@{/documents/menu}">
					  <span data-feather="layers"></span>
					  Contratos
					</a>
				  </li>
				   <li class="nav-item">
					<a class="nav-link" th:href="@{/events/menu}">
					  <span data-feather="calendar"></span>
					  Agendamentos
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" th:href="@{/finances/menu}">
					  <span data-feather="dollar-sign"></span>
					  Financeiro
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" th:href="@{/contacts/menu}">
					  <span data-feather="users"></span>
					   Pessoas
					</a>
				  </li>
				</ul>
			</div>
		</div>
	</body>
</html>